.green{
    background-color: green;
    height: 50px;
    width: 100px;
}

.red{
    background-color: red;
    height: 50px;
    width: 100px;
}

.blue{
    background-color: blue;
    height: 50px;
    width: 100px;
}